<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.checkin.agentrouter</string>

  <key>ProgramArguments</key>
  <array>
    <string>__HOME__/.local/bin/checkin-agentrouter</string>
  </array>

  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>10</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>

  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>__HOME__/.local/bin:/opt/homebrew/bin:/opt/homebrew/sbin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>

  <key>StandardOutPath</key>
  <string>__HOME__/Library/Logs/checkin-agentrouter/stdout.log</string>

  <key>StandardErrorPath</key>
  <string>__HOME__/Library/Logs/checkin-agentrouter/stderr.log</string>

  <key>WorkingDirectory</key>
  <string>__REPO_DIR__</string>

  <key>RunAtLoad</key>
  <false/>
</dict>
</plist>
